{% extends 'blog/base.html' %}


{% block meta_description %}Work with, make suggestions, or contact the owner and creator of inkflasks{% endblock %}

{% block title %}Inkflasks | Contact{% endblock %}

{% block content %}


<div class="container-fluid">
  <section class="container-fluid">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold">Contact</h1>
        <p class="lead my-3">Reach out to say hello or leave a suggestion!</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
      <h2 class="display-4 fw-bold pt-5">Other</h2>
      <ol class="list-unstyled ms-4 mb-5">
        <li class="pb-2"><a class="redirect-link" href="https://www.etsy.com/shop/Inkflasks">🛒 Etsy</a></li>
        <li class="pb-2"><a class="redirect-link" href="https://www.instagram.com/inkflasks/" target="_blank">📸 Instagram</a></li>
        <li class="pb-2"><a class="redirect-link" href="https://www.youtube.com/channel/UCyLxKryWfj_kw96hoPUXcUg" target="_blank">📹 YouTube</a></li>
      </ol>
        </div>
        <div class="col-md-8">
          <h4 class="display-4 fw-bold pt-5">Email (Fastest Response)</h2>
          <p class="lead my-3 pb-5"><a class="redirect-link" href="mailto:inkflasks@gmail.com">💌 inkflasks@gmail.com</a></li></p>
          
        </div>
      </div>
      <p class="lead my-3 pb-5">Hello...is anyone here? Does anyone human even visit this section? I'm pretty convinced only robots and spammers can find me. Thoughts? Feelings? Emotions? Let me know...</p>
    </div>
  </section>
  </div>
</div>

{% endblock  %}
