{% extends 'blog/base.html' %}
{% load static %}

{% block meta_description %}Free templates for PowerPoint, Canva, and Google. Updated monthly.{% endblock %}

{% block title %}Inkflasks | Freebies{% endblock %}

    
    
{% block content %}
<div class="container-fluid welcome-header">


    <!--welcome section-->
    <section class="container-fluid">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
        <h1 class="display-4 text-white fw-bold">Freebies</h1>
        <p class="lead my-3 text-white">Early birds get templates 100% free (updated monthly)</p>
        <p class="lead mb-0 text-white fw-bold">Links and downloads below </p>
        </div>
      </div>
    </section>



  <section class="container-fluid">
    <div class="row">

      <!--  blog section-->
      <div class="col-md-8">
        <h2 class="fw-bold">Giveaways for this month:</h2>

        {% for item in items %}
          {% include "blog/includes/freebie-item.html"%}
        {% endfor %}

      </div> 

      <!--  sticky about me section-->

      {% include 'blog/includes/about-sidebar.html' %}

    </div>
  </section>


</div>
{% endblock %}

