{% extends 'blog/base.html' %}


{% block meta_description %}Work with, make suggestions, or contact the owner and creator of inkflasks{% endblock %}

{% block title %}Inkflasks | Contact - Thanks{% endblock %}

{% block content %}


<div class="container-fluid">
  <section class="container-fluid">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold">Contact - Thanks</h1>
        <p class="lead my-3">Thanks for reaching out!</p>
      </div>
    </div>
  </section>
  
  <div class="row">
      <div class="col-md-4 px-4 py-4 px-md-5 py-md-5 text-dark">
          <p class="lead my-3"> 💌 Email Address</p>
          <p>contact@inkflasks.com</p>
      </div>
      <div class="col-md-8 px-4 pb-4 pt-md-5 text-dark">
          <h2 class="display-4 fw-bold d-none d-md-block">I'll get back to you as soon as I can!</h2>
      </div>
  </div>
</div>

{% endblock  %}
